<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                      arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -Dspring.profiles.active=azure -jar &quot;%HOME%\site\wwwroot\portfolio-backend-0.0.1-SNAPSHOT.jar&quot;"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\stdout"
                      startupTimeLimit="600">
            <environmentVariables>
                <environmentVariable name="AZURE_SQL_SERVER" value="%AZURE_SQL_SERVER%" />
                <environmentVariable name="AZURE_SQL_DATABASE" value="%AZURE_SQL_DATABASE%" />
                <environmentVariable name="AZURE_SQL_USERNAME" value="%AZURE_SQL_USERNAME%" />
                <environmentVariable name="AZURE_SQL_PASSWORD" value="%AZURE_SQL_PASSWORD%" />
                <environmentVariable name="ADMIN_USERNAME" value="%ADMIN_USERNAME%" />
                <environmentVariable name="ADMIN_PASSWORD" value="%ADMIN_PASSWORD%" />
            </environmentVariables>
        </httpPlatform>
        <rewrite>
            <rules>
                <rule name="CORS Preflight" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 